* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: #141414;
  background-image: url(/assets/spot.svg);
  background-size: 40px 40px;
  background-position: top;
}

main {
  position: relative;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#todo {
  width: 300px;
  padding: 1rem;
}

.add-todo-btn {
  padding: 1rem;
}

.todo-list {
  color: white;
}

.todo-entry {
  display: flex;
  padding: 1rem;
  outline: dashed 1px white;
  justify-content: space-between;
  margin: 0.5rem 0;
  gap: 1rem;
}

.todo-entry.todo-done {
  outline: dashed 1px gray;
  color: gray;
}
